:root {
    --main-bg-color: #9bb48b;
    --secondary-bg-color: #cae2bc;
    --input-bg-color: #c7ccb9;
    --bg-white: #fff;
}

.main {
    height: 100vh;
    background-color: var(--main-bg-color);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    background-color: var(--main-bg-color);
}
.logo {
    height: 100px;
    margin-top: 50px;
}

.title {
    font-size: 30px;
}

.form-container {
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    padding: 10px;
    border-radius: 5px;
}

.form-element {
    padding: 10px 0;

}
.option {
    background-color: var(--input-bg-color);
    margin-left: 5px;
    border: 1px solid black;
}

.form-btn {
    margin: 0 auto;
    width: 90px;
    background-color: var(--input-bg-color);
    border: 1px solid black;
    cursor: pointer;
}


/* gameScreen styles start*/
.question-number {
    margin-bottom: 10px;
}
.question-container {
    width: 50vw;
}

.question-box {
    background-color: var(--bg-white);
    border-radius: 5px;
    padding: 50px 50px;
    margin-bottom: 25px;
}

.answers-box {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-white);
    border-radius: 5px;
    padding: 15px 15px;
}

.question-answer {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-bg-color);
    border-radius: 3px;
    margin: 10px 0;
    padding: 10px 15px;
}
.question-answer:hover {
    background-color: var(--input-bg-color);
}

.question-answer:has(.answer-checkbox:checked) {
    background-color: var(--input-bg-color);
}

.navigation-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
}
.navigation-btn {
    background-color: var(--input-bg-color);
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
    padding: 5px 10px;
}

.navigation-btn:hover {
    scale: 1.1;
    transition: 0.2s;
}

.transparent-btn {
    opacity: 0;
}
.btn-exit{
    margin-right: auto;
}
.btn-next{
    margin-left: auto;
}

.loader-container {
    position: relative;
    top: 40px;
    left: 40%;
}

.loader-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    transform:rotate(45deg);
    background: var(--bg-white)
  }
.loader-container::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border:24px solid #a7bb9c;
    animation: prixClipFix 30s infinite linear;
}

@keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}


  .counter {
    position: relative;
    top: 10%;
    left: 5%;
    margin: 2px;
    width: 40px;
    height: 40px;
    background-color: var(--bg-white);
    border-radius: 50%;
    z-index: 2;
    font-size: 35px;
    transform:rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* gameScreen styles start*/


/* Error styles */
.error-container {
    background-color: var(--main-bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .error-header {
    font-size: 30px;
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
  }

  .error-subtitle {
    font-size: 20px;
    margin-bottom: 5px;
  }

  /* Error styles  end */
  /* Finish screen start */
  

  /* Finish screen end */